node_modules
package-lock.json
public

collect
tmp

src/assets/art/5.png
src/assets/art/6.png
src/assets/art/7.png

src/assets/patterns

src/experimental
src/gtag.js
src/modules/requests.js

server/watch.old.js
